## Settings file was created by plugin Backpack v0.3.0
## Plugin GUID: aedenthorn.Backpack

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 858
NexusID = 858

## Hotkey to open backpack.
# Setting type: String
# Default value: b
HotKey = b

## Display name for backpack.
# Setting type: String
# Default value: Backpack
BackpackName = Backpack

## Unique ID for your backpack (don't change this).
# Setting type: String
# Default value: eba444ac-d8d8-4e5f-9835-353cab90899b
BackpackGUID = fccf8f45-1b8d-44b5-b307-31972a198149

## Size of backpack (w,h).
# Setting type: Vector2
# Default value: {"x":6.0,"y":3.0}
BackpackSize = {"x":6.0,"y":3.0}

## Multiplier for weight of items in backpack (set to 0 to disable backpack weight).
# Setting type: Single
# Default value: 0.5
BackpackWeightMult = 0.5

## Drop backpack inventory on death
# Setting type: Boolean
# Default value: true
DropInventoryOnDeath = false

## If DropInventoryOnDeath then create tombstone rather than just dropping inventory.
# Setting type: Boolean
# Default value: true
CreateTombStone = true

