## Settings file was created by plugin Auto Store v0.6.0
## Plugin GUID: aedenthorn.AutoStore

[General]

## The maximum range to pull dropped items
# Setting type: Single
# Default value: 5
DropRangeChests = 5

## The maximum range to pull dropped items
# Setting type: Single
# Default value: 5
DropRangePersonalChests = 5

## The maximum range to pull dropped items
# Setting type: Single
# Default value: 5
DropRangeReinforcedChests = 5

## The maximum range to pull dropped items
# Setting type: Single
# Default value: 5
DropRangeCarts = 5

## The maximum range to pull dropped items
# Setting type: Single
# Default value: 5
DropRangeShips = 5

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypes = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypes
# Setting type: String
# Default value: 
ItemAllowTypes = 

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypesChests = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypesChests
# Setting type: String
# Default value: 
ItemAllowTypesChests = 

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypesPersonalChests = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypesPersonalChests
# Setting type: String
# Default value: 
ItemAllowTypesPersonalChests = 

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypesReinforcedChests = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypesReinforcedChests
# Setting type: String
# Default value: 
ItemAllowTypesReinforcedChests = 

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypesBlackMetalChests = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypesBlackMetalChests
# Setting type: String
# Default value: 
ItemAllowTypesBlackMetalChests = 

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypesCarts = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypesCarts
# Setting type: String
# Default value: 
ItemAllowTypesCarts = 

## Types of item to disallow pulling for, comma-separated.
# Setting type: String
# Default value: 
ItemDisallowTypesShips = 

## Types of item to only allow pulling for, comma-separated. Overrides ItemDisallowTypesShips
# Setting type: String
# Default value: 
ItemAllowTypesShips = 

## Text to show on toggle. {0} is replaced with true/false
# Setting type: String
# Default value: Auto Pull: {0}
ToggleString = Auto Pull: {0}

## Key to toggle behaviour. Leave blank to disable the toggle key. Use https://docs.unity3d.com/Manual/class-InputManager.html syntax.
# Setting type: String
# Default value: 
ToggleKey = 

## If true, a container must already have at least one of the item to pull.
# Setting type: Boolean
# Default value: false
MustHaveItemToPull = false

## If false, containers won't pull while the player is holding the hammer.
# Setting type: Boolean
# Default value: true
PullWhileBuilding = true

## Behaviour is currently on or not
# Setting type: Boolean
# Default value: true
IsOn = true

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 174
NexusID = 174

