## Settings file was created by plugin Useful Trophies Mod v2.0.3
## Plugin GUID: gg.khairex.usefultrophies

[BossConsumption]

# Setting type: Boolean
# Default value: true
CanConsumeBosses = true

# Setting type: Boolean
# Default value: true
CanConsumeBossSummonItems = true

# Setting type: Single
# Default value: 720
BossPowerTimeSeconds = 720

# Setting type: Boolean
# Default value: true
EnableBossBuffs = true

BossesResetGuardianCooldown = true

BossesApplyGuardianPower = false

[BossSummonItemTimeSeconds]

# Setting type: Single
# Default value: 120
$item_trophy_deer = 120

# Setting type: Single
# Default value: 120
$item_ancientseed = 120

# Setting type: Single
# Default value: 120
$item_witheredbone = 120

# Setting type: Single
# Default value: 300
$item_dragonegg = 300

# Setting type: Single
# Default value: 120
$item_goblintotem = 120

[ExpScaling]

# Setting type: Single
# Default value: 8
deer = 4

# Setting type: Single
# Default value: 4
boar = 4

# Setting type: Single
# Default value: 10
neck = 5

# Setting type: Single
# Default value: 5
greydwarf = 5

# Setting type: Single
# Default value: 25
greydwarfbrute = 10

# Setting type: Single
# Default value: 15
greydwarfshaman = 10

# Setting type: Single
# Default value: 10
skeleton = 6

# Setting type: Single
# Default value: 25
skeletonpoison = 15

# Setting type: Single
# Default value: 30
troll = 15

# Setting type: Single
# Default value: 25
surtling = 10

# Setting type: Single
# Default value: 25
leech = 7

# Setting type: Single
# Default value: 20
draugr = 8

# Setting type: Single
# Default value: 30
draugrelite = 15

# Setting type: Single
# Default value: 20
blob = 12

# Setting type: Single
# Default value: 30
wraith = 30

# Setting type: Single
# Default value: 100
abomination = 100

# Setting type: Single
# Default value: 35
wolf = 12

# Setting type: Single
# Default value: 40
fenring = 35

# Setting type: Single
# Default value: 40
hatchling = 12

# Setting type: Single
# Default value: 800
sgolem = 25

# Setting type: Single
# Default value: 30
ulv = 30

# Setting type: Single
# Default value: 80
cultist = 80

# Setting type: Single
# Default value: 50
goblin = 15

# Setting type: Single
# Default value: 50
goblinbrute = 30

# Setting type: Single
# Default value: 50
goblinshaman = 20

# Setting type: Single
# Default value: 300
lox = 20

# Setting type: Single
# Default value: 50
growth = 50

# Setting type: Single
# Default value: 80
deathsquito = 20

# Setting type: Single
# Default value: 150
serpent = 60

# Setting type: Single
# Default value: 50
hare = 50

# Setting type: Single
# Default value: 100
gjall = 100

# Setting type: Single
# Default value: 80
tick = 80

# Setting type: Single
# Default value: 300
dvergr = 300

# Setting type: Single
# Default value: 150
seeker = 150

# Setting type: Single
# Default value: 300
seekerbrute = 300

# Setting type: Single
# Default value: 30
eikthyr = 25

# Setting type: Single
# Default value: 80
elder = 35

# Setting type: Single
# Default value: 300
bonemass = 50

# Setting type: Single
# Default value: 500
dragonqueen = 50

# Setting type: Single
# Default value: 700
goblinking = 50

# Setting type: Single
# Default value: 1000
seekerqueen = 1000

TrophyEXPMultiplier = 1

[GoldValue]

# Setting type: Boolean
# Default value: true
EnableSellingTrophies = true

# Setting type: Int32
# Default value: 15
deer = 15

# Setting type: Int32
# Default value: 10
boar = 10

# Setting type: Int32
# Default value: 10
neck = 10

# Setting type: Int32
# Default value: 10
greydwarf = 10

# Setting type: Int32
# Default value: 15
greydwarfbrute = 15

# Setting type: Int32
# Default value: 15
greydwarfshaman = 15

# Setting type: Int32
# Default value: 10
skeleton = 10

# Setting type: Int32
# Default value: 15
skeletonpoison = 15

# Setting type: Int32
# Default value: 50
troll = 50

# Setting type: Int32
# Default value: 15
surtling = 15

# Setting type: Int32
# Default value: 15
leech = 15

# Setting type: Int32
# Default value: 15
draugr = 15

# Setting type: Int32
# Default value: 30
draugrelite = 30

# Setting type: Int32
# Default value: 20
blob = 20

# Setting type: Int32
# Default value: 30
wraith = 30

# Setting type: Int32
# Default value: 100
abomination = 100

# Setting type: Int32
# Default value: 25
wolf = 25

# Setting type: Int32
# Default value: 30
fenring = 30

# Setting type: Int32
# Default value: 35
hatchling = 35

# Setting type: Int32
# Default value: 500
sgolem = 500

# Setting type: Int32
# Default value: 50
ulv = 50

# Setting type: Int32
# Default value: 100
cultist = 100

# Setting type: Int32
# Default value: 35
goblin = 35

# Setting type: Int32
# Default value: 50
goblinbrute = 50

# Setting type: Int32
# Default value: 50
goblinshaman = 50

# Setting type: Int32
# Default value: 200
lox = 200

# Setting type: Int32
# Default value: 50
growth = 50

# Setting type: Int32
# Default value: 25
deathsquito = 25

# Setting type: Int32
# Default value: 250
serpent = 250

# Setting type: Int32
# Default value: 40
hare = 40

# Setting type: Int32
# Default value: 150
gjall = 150

# Setting type: Int32
# Default value: 50
tick = 50

# Setting type: Int32
# Default value: 300
dvergr = 300

# Setting type: Int32
# Default value: 50
seeker = 50

# Setting type: Int32
# Default value: 100
seekerbrute = 100

# Setting type: Int32
# Default value: 0
eikthyr = 0

# Setting type: Int32
# Default value: 0
elder = 0

# Setting type: Int32
# Default value: 0
bonemass = 0

# Setting type: Int32
# Default value: 0
dragonqueen = 0

# Setting type: Int32
# Default value: 0
goblinking = 0

# Setting type: Int32
# Default value: 0
seekerqueen = 0

